# Virtual environment ignore karo
venv/

# Python ke cache files ignore karo
__pycache__/
*.py[cod]

# Environment variables
.env

# OS specific junk
.DS_Store
Thumbs.db

# VS Code/IDE files
.vscode/
.idea/

# Logs
*.log
